.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
*.bam
*.bam.bai
*.vcf.gz
*.vcf.gz.tbi
references/
test_haplo/
test_phased/
null/
containers/*.sif
build.log

# =========================
# Karyotype simulation
# =========================
karyotype_simulation/output/
karyotype_simulation/intermediate/
karyotype_simulation/mosdepth/
karyotype_simulation/results/
